<!DOCTYPE html>
<html lang="en">
<head>
  <title>Authenticate</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="header">  
    <h1>¡{USERNAME}, Authenticate!</h1>
    <div id="container-button">
      <a href="{API}/{TOKEN}">Click here to authenticate</a>
    </div>
  </div>
  <div id="content-images">
    <div id="header-images">
      <div class="container-image">
        <img src="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Deadpool.jpg" alt="">
      </div>
      <div class="container-image">
        <img src="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Movie-poster/Beetlejuice.jpg" alt="">
      </div>
      <div class="container-image">
        <img src="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Anne-with-an-e.jpg" alt="">
      </div>
      <div class="container-image">
        <img src="https://serflix-bucket.s3.us-east-2.amazonaws.com/landing/Serie-poster/Breaking-bad.jpg" alt="">
      </div>
    </div>
  </div>
  <div id="footer">
    <p>SERFLIX</p>
  </div>
</body>
</html>